.item {
    margin: 1rem 0;
  }

  .hotel {
    display: flex;
    position: relative;
  }
  
  .image {
    margin-top: 2rem;
    margin-left: 1rem;
    width: 35%;
    height: 15rem;
    overflow: hidden;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    position: relative;
  }
  
  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .content {
    padding-top: 1rem;
    padding-left: 3rem;
  }
  
  .content h3 {
    font-size: 1.25rem;
    color: #2c292b;
  }
  
  .actions {
    padding: 1.5rem;
    text-align: center;
  }
  
  .content address {
    font-size: 1.2rem;
  }

  .content address:last-of-type {
    font-size: 1rem;
    padding-top: .5rem;
  }

  .bottom {
    display: flex;
  }

  .right {
    margin-left: 7rem;
  }

  .checkin h4 {
    margin-bottom: .4rem;
  }

  .checkout h4 {
    margin-bottom: .4rem;
  }

  .phonetitle {
    margin-bottom: 0;
  }

  .emailtitle {
    margin-bottom: 0;
  }

  .left p {
    margin-top: .4rem;
  }


  .rightIcon {
    position: absolute;
    top: 50%;
    right: 5%;
    color: #fff;
    cursor: pointer;
    font-size: 1.4rem;
  }

  .leftIcon {
    position: absolute;
    top: 50%;
    left: 5%;
    color: #fff;
    cursor: pointer;
    font-size: 1.4rem;
  }


  .rightIcon:hover,
  .leftIcon:hover {
    filter: brightness(.8);
  }

  .rightIcon:active,
  .leftIcon:active {
    transform: scale(.8);
  }



  .rate {
    position: absolute;
    top: 0;
    right: 3%;
    text-align: center;
  }

  .white-star {
    color: rgb(184, 181, 176);
  }

  .yellow-star {
    color: orange;
  }

  .description {
    padding: 0 2rem 2rem 2rem;
  }

  .description p {
    font-size: .9rem;
    text-align: center;
    color: #444;
  }
